<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="goldenrod" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Recherche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin no-radius">
    <ion-item lines="none" color="white">
      <ion-label class="ion-text-center">
        <p class="text-11x no-margin ion-no-margin">
          <b>{{ nbResto }}</b> restaurants trouvés
        </p>
      </ion-label>
    </ion-item>
  </ion-card>

  <div class="ion-text-center" >
    <ion-chip (click)="toggleDetails()" outline color="medium">
      <ion-icon [name]="icon"></ion-icon>
      <ion-label>Filtrer la recherche</ion-label>
    </ion-chip>
  </div>
  <div class="row" [@move] *ngIf="showCriteria">
    <div class="search-hero">
      <ion-item>
        <ion-label position="fixed">
          <ion-text color="dark" class="fw500">Nom</ion-text>
        </ion-label>
        <ion-input [disabled]="d_name" type="text" [(ngModel)]="name" (ionChange)="setSearch()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-no-padding ion-no-margin" position="fixed">
          <ion-text color="dark" class="fw500">Ville</ion-text>
        </ion-label>
        <ion-input [disabled]="d_city" type="text" [(ngModel)]="city" (ionChange)="setSearch()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="fw500" color="dark">Spécialité</ion-label>
        <ion-select [disabled]="d_speciality" (ionChange)="setSearch()" [(ngModel)]="speciality" multiple="false">
          <ion-select-option value="">Toutes</ion-select-option>
          <ion-select-option *ngFor="let spe of listSpeciality">{{ spe.nom_specialite }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="fw500" color="dark">Prix</ion-label>
        <ion-select ok-text="Valider" cancel-text="Annuler" (ionChange)="setSearch($event)" [(ngModel)]="order">
          <ion-select-option value=1>Moins chère</ion-select-option>
          <ion-select-option value=-1>Plus chère</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

  <div>
    <ion-chip [@animat] *ngIf="city" outline color="tertiary">
      <ion-icon name="pin"></ion-icon>
      <ion-label>{{ city | titlecase }}</ion-label>
    </ion-chip>
    <ion-chip [@animat] *ngIf="speciality" outline color="tertiary">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>{{ speciality | titlecase }}</ion-label>
    </ion-chip>
    <ion-chip [@animat] *ngIf="prix1 && prix2" outline color="tertiary">
      <ion-icon name="card"></ion-icon>
      <ion-label>{{ prix1 }}€ - {{ prix2 }}€</ion-label>
    </ion-chip>
    <ion-chip [@animat] *ngIf="order" outline color="tertiary">
      <ion-icon name="shuffle"></ion-icon>
      <ion-label>{{ order == -1 ? 'Décroissant' : 'Croissant'  }}</ion-label>
    </ion-chip>
    <ion-chip [@animat] *ngIf="name" outline color="tertiary">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{ name }}</ion-label>
    </ion-chip>
  </div>

  <div class="title ion-text-center">
    <div *ngIf="datasRestoLocal==false; else other">
      <p>
        Aucun restaurant trouvés.
      </p>
    </div>
  </div>
  <div *ngIf="datasRestoLocal else noFavorite" class="list-resto">
      <ion-virtual-scroll [items]="datasRestoLocal" approxItemHeight="320px">
    <ion-list class="list-perso" lines="none" *virtualItem="let restaurant; let itemBounds = bounds;">
        <ion-item detail='false' [routerLink]="[ '/description', restaurant.id_restaurant]"
          class="ion-no-margin ion-no-padding">
          <ion-img class="displayRest" src="{{urlImg}}{{restaurant.img1}}" [alt]="restaurant.nom_restau" ></ion-img>
          <ion-label>
            <ion-grid align="center">
              <h3>{{restaurant.nom_restau}}</h3>
              <p class="medium"><i>{{restaurant.nom_specialite}}</i></p>
              <ion-grid class="" align="center">
                <ion-row>
                  <ion-col size="12">
                    <ion-icon color="goldenrod"
                      *ngFor="let dummy of ' '.repeat(restaurant.note_moyenne).split(''), let x = index"
                      name="star-outline"></ion-icon>
                    <ion-icon *ngFor="let dummy of ' '.repeat(5-(restaurant.note_moyenne)).split(''), let x = index"
                      name="star-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div class="small">
                <i>{{restaurant.num_rue}}, {{restaurant.nom_rue}}<br>
                  {{restaurant.cp}} - {{restaurant.ville}}</i>
              </div>
            </ion-grid>
            <div class="medium ion-text-right">
              <span class="">Prix moyen : </span><b><span class="price">{{ restaurant.prix |  number:'0.0-0'  }}
                  €</span></b>
            </div>
          </ion-label>
        </ion-item>
    </ion-list>
  </ion-virtual-scroll>
  </div>
  <ng-template #noFavorite>
    <p class="ion-text-center">
      Aucun restaurant trouver.
    </p>
  </ng-template>
</ion-content>
<ion-footer>
</ion-footer>