:host {
  ion-content {
    --background: var(--ion-color-light);
  }
  ion-card {
    &.no-radius {
      border-radius: 0;
    }
  }
  .item-native {
    padding: 0px 0px 0px 0px !important;
  }
}

ion-menu-button {
  color: goldenrod;
}

.sc-ion-searchbar-ios-h {
  margin-top: 12px !important;
}

.swiper-slide img {
  height: 100px;
  width: fit-content !important;
}

.list-perso {
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 10px !important;
  border-radius: 10px;
}

.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
  padding-left: 10px;
}

.item-native {
  padding: 0px 0px 0px 0px !important;
}

.title {
  margin-top: 16px;
  margin-bottom: -9px;
  margin-left: 15px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: bolder;
  font-size: 19px;
}

.list-resto {
  padding-top: 20px;
  padding-bottom: 75px;
}

.small {
  font-size: 53%;
}

.medium {
  font-size: 60%;
}

ion-item {
  border-bottom-left-radius: 10px !important;
  border-radius: 10px !important;
}