<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="goldenrod" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Derniers restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-slides [options]="slideConfig" class="category-banner">
      <ion-slide *ngFor="let speciality of specialities">
        <ion-card class="no-radius" detail='false' [routerLink]="[ '/result-search', speciality.nom_specialite]">
          <img src="{{urlImg}}{{speciality.image}}">
          <ion-card-header>
            <ion-card-subtitle>{{ speciality.nom_specialite }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title">Liste des restaurants</div>
  <div class="list-resto">
    <ion-list lines="none" [@items] *ngFor="let restaurant of dataList">
      <ion-item detail='false' [routerLink]="[ '/description', restaurant.id_restaurant]"
        class="ion-no-margin ion-no-padding">
        <img class="displayRest" src="{{urlImg}}{{restaurant.img1}}">
        <ion-label>
          <ion-grid align="center">
            <h3>{{restaurant.nom_restau}}</h3>
            <p class="medium"><i>{{restaurant.nom_specialite}}</i></p>
            <ion-grid class="" align="center">
              <ion-row>
                <ion-col size="12">
                  <ion-icon color="goldenrod"
                    *ngFor="let dummy of ' '.repeat(restaurant.note_moyenne).split(''), let x = index"
                    name="star-outline"></ion-icon>
                  <ion-icon *ngFor="let dummy of ' '.repeat(5-(restaurant.note_moyenne)).split(''), let x = index"
                    name="star-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="small">
              <i>{{restaurant.num_rue}}, {{restaurant.nom_rue}}<br>
                {{restaurant.cp}} - {{restaurant.ville}}</i>
            </div>
          </ion-grid>
          <div class="medium ion-text-right">
            <span class="">Prix moyen : </span><b><span class="price">{{ restaurant.prix |  number:'0.0-0'  }}
                €</span></b>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement des données ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>