<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="animated fadeInDown">
  <ion-fab-button color="goldenrod" (click)="togglePopupMenu()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon color="white" name="apps"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
    <div class="popup-menu-item">
      <ion-icon name="cog" slot="middle" size="large"></ion-icon>
      <span>Config</span>
    </div>
    <div class="popup-menu-item">
      <ion-icon name="beer" slot="middle" size="large"></ion-icon>
      <span>Activities</span>
    </div>
    <div class="popup-menu-item">
      <ion-icon name="person" slot="middle" size="large"></ion-icon>
      <span>Settings</span>
    </div>
  </div>
</div>