

<div [@animat] *ngIf="comments; else nocomment" class="comment-box">
  <ion-card>
    <ion-list lines="none">
      <ion-list-header>
        Derniers commentaires
      </ion-list-header>

      <ion-item *ngFor="let comment of comments">
        <ion-avatar slot="start">
          <!-- <img src="assets/img/avatar.png"> -->
          <ion-icon size="smalle" color="goldenrod" name="person"></ion-icon>
        </ion-avatar>
        <ion-label>
          <p>{{ comment.username }}</p>
          <h3>{{comment.content}}</h3>
          <p class="ion-text-right">{{comment.date_commentaire}}</p>
        </ion-label>
        <div *ngIf="comment.id_user == iduser">
            <ion-icon (click)="deleteComment(comment.id_commentaire)" name="trash" slot="start"></ion-icon>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</div>
<ng-template #nocomment>
  <ion-card [@animat] class="ion-text-center">
    <ion-list lines="none">
      <ion-list-header>
        Aucun commentaire pour ce restaurant. Soyez le premier.
      </ion-list-header>
    </ion-list>
  </ion-card>
</ng-template>
<div>
  <ion-item>
    <ion-textarea [(ngModel)]="userComment" placeholder="Insérez votre commentaire à propos de ce restaurant ici..."></ion-textarea>
  </ion-item>
  <ion-button class="radius-btn" expand="full" color="goldenrod" (click)="setComment()">Valider</ion-button>
</div>