<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-button color="goldenrod" size="small" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Recherche de restaurant(s) :
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <ion-item class="ion-margin-bottom">
    <ion-label position="floating" stacked>
      <ion-icon name="search" item-start></ion-icon>
      <ion-text class="fw500">Nom du restaurant</ion-text>
    </ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" stacked>
      <ion-icon name="pin" item-start></ion-icon>
      <ion-text class="fw500">Ville</ion-text>
    </ion-label>
    <ion-input type="text" [(ngModel)]="city"></ion-input>
  </ion-item>



  <ion-item>
    <ion-label class="no-margin-bottom" stacked>
      <ion-text class="fw500">Distance:</ion-text>
    </ion-label>
    <ion-range disabled color="goldenrod" min="1" max="50" step="1" value="1" class="ion-no-padding-top no-padding-top"
      [(ngModel)]="radiusmiles">
      <ion-label slot="start">
        <ion-text color="goldenrod"> {{radiusmiles}} Km(s)</ion-text>
      </ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label class="fw500">Trier par</ion-label>
    <ion-select [(ngModel)]="organizeby">
      <ion-select-option>Moins chère</ion-select-option>
      <ion-select-option>Plus chère</ion-select-option>
      <ion-select-option disabled>Plus de vote</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="fw500">Spécialité / Type</ion-label>
    <ion-select [(ngModel)]="specialite" multiple="false">
      <ion-select-option *ngFor="let spe of listSpeciality">{{ spe.nom_specialite }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="ion-margin-bottom">
    <ion-label class="no-margin-bottom">
      <ion-text class="fw500">Prix :</ion-text>
    </ion-label>

    <ion-range dualKnobs="true" color="goldenrod" [(ngModel)]="minmaxprice" min="5" max="100" step="5"
      class="no-padding-top">
      <ion-label slot="start">
        <ion-text color="goldenrod"> {{minmaxprice.lower}} €</ion-text>
      </ion-label>
      <ion-label slot="end">
        <ion-text color="goldenrod"> {{minmaxprice.upper}} €</ion-text>
      </ion-label>
    </ion-range>
  </ion-item>

  <ion-button class="radius-btn" expand="full" color="goldenrod" (click)="setSearch()">Lancer la recherche</ion-button>
</ion-content>