<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="goldenrod" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Contactez-nous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="no-radius ion-text-center">
        <ion-item lines="none" color="white" class="ion-text-center">
            <p class="text-11x">
              <ion-icon class="ion-no-margin ion-no-padding" style="font-size:50px;" name="mail"></ion-icon><br/>
              <ion-text><b>Formulaire de contact</b></ion-text><br/><br/>
              <ion-text color="goldenrod">Une question, une remarque, un problème ? peu importe la raison, vous pouvez nous contacter ici, ou 
                 via nos réseaux sociaux, avec plaisir nous répondrons dans les plus brefs délais à tous.</ion-text><br/>
            <ion-text>
                <ion-icon name="logo-facebook"></ion-icon>&nbsp;
                <ion-icon name="logo-instagram"></ion-icon>&nbsp;
                <ion-icon name="logo-linkedin"></ion-icon>
            </ion-text>
            </p>
        </ion-item>
      </ion-card>
<div>
    <ion-item class="ion-margin-bottom">
        <ion-label position="floating" stacked>
          <ion-text class="fw500">Nom</ion-text>
        </ion-label>
        <ion-input type="text" [(ngModel)]="firstname"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
          <ion-label position="floating" stacked>
            <ion-text class="fw500">Prenom</ion-text>
          </ion-label>
          <ion-input type="text" [(ngModel)]="lastname"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom">
            <ion-label position="floating" stacked>
              <ion-text class="fw500">Mail</ion-text>
            </ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
          </ion-item>

          <ion-item class="ion-margin-bottom">
              <ion-label class="fw500">Objet</ion-label>
              <ion-select [(ngModel)]="object" multiple="false">
                <ion-select-option value="objet 1">objet 1</ion-select-option>
              </ion-select>
            </ion-item>

          <ion-item class="ion-margin-bottom">
              <ion-label position="floating" stacked>
                <ion-text class="fw500">Message</ion-text>
              </ion-label>
              <ion-textarea type="text" [(ngModel)]="message"></ion-textarea>
            </ion-item>

            <ion-button class="radius-btn" expand="full" color="goldenrod" (click)="send()">Envoyer
              </ion-button>
</div>
</ion-content>
