<div [@animat] *ngIf="adresse; else wait">
  <ion-card>
    <ion-card-header class="ion-text-center ion-no-margin ion-no-padding">
      <ion-card-subtitle>
        <div class="text">Localisation</div>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <div class="maps voffset5">
    <ion-card>
      <iframe class="ifrm" frameborder="0" style="border:0" [src]="url" allowfullscreen>
      </iframe>
      <ion-card-header>
        <ion-card-title>{{ nom_restau }}</ion-card-title>
        <ion-card-subtitle>
          <p><i>{{ numrue }}, {{ adresse }}<br>-<br>{{ cp }} {{ ville }}</i></p>
        </ion-card-subtitle>
      </ion-card-header>
      <!-- <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content> -->
    </ion-card>
  </div>
</div>
<ng-template #wait>
    <ion-card [@animat] class="ion-text-center">
        <ion-list lines="none">
          <ion-list-header>
            Aucune adresse renseignée pour ce restaurant.
          </ion-list-header>
        </ion-list>
      </ion-card>
</ng-template>