.maps {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-bottom: 25px;
}

.ifrm {
  width: 100%;
  height: 370px;
  border-radius: 5px;
}

.icon-map{
  font-size: 27px;
  position: relative;
  top: 5px;
  left: 1px;
}

.text{
  font-size: 15px;
}