<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="goldenrod" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Formulaire restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <div *ngIf="cptUpload>3">
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating" stacked>
        <ion-text class="fw500">Nom du restaurant</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-label class="fw500">Spécialité / Type</ion-label>
      <ion-select [(ngModel)]="specialite" multiple="false">
        <ion-select-option *ngFor="let spe of listSpeciality" value="{{spe.id_specialite}}">{{ spe.nom_specialite }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col size="6">
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating" stacked>
            <ion-text class="fw500">Prix minimum</ion-text>
          </ion-label>
          <ion-input type="number" [(ngModel)]="prix1"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating" stacked>
            <ion-text class="fw500">Prix maximum</ion-text>
          </ion-label>
          <ion-input type="number" [(ngModel)]="prix2"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item class="ion-margin-bottom">
      <ion-label position="stacked">Adresse</ion-label>
      <ion-input [(ngModel)]="dnms" placeholder="Dénomination sociale"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col size="4">
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating" stacked>
            <ion-text class="fw500">Numéro</ion-text>
          </ion-label>
          <ion-input [(ngModel)]="num_rue"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating" stacked>
            <ion-text class="fw500">Nom de la rue</ion-text>
          </ion-label>
          <ion-input [(ngModel)]="nom_rue"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating" class="fw500">C.Postal</ion-label>
          <ion-select (ionChange)="getCity(cp)" [(ngModel)]="cp" multiple="false">
            <ion-select-option value="75">75</ion-select-option>
            <ion-select-option value="91">91</ion-select-option>
            <ion-select-option value="92">92</ion-select-option>
            <ion-select-option value="93">93</ion-select-option>
            <ion-select-option value="94">94</ion-select-option>
            <ion-select-option value="95">95</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-item class="ion-margin-bottom">
          <ion-label position="floating" class="fw500">Ville</ion-label>
          <ion-select [disabled]="!cp" [(ngModel)]="ville" multiple="false">
            <ion-select-option *ngFor="let city of listCity" value="{{city?.ville_nom_reel}}">{{ city?.ville_nom_reel }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button class="radius-btn" expand="full" color="goldenrod" (click)="addResto()">Ajouter le restaurant
    </ion-button>
  </div>

  <div *ngIf="cptUpload == 3">
    <ion-button class="radius-btn" expand="full" color="goldenrod" (click)="endUpload()">Valider les photos</ion-button>
  </div>

  <div *ngIf="cptUpload <= 3">
    <div class="ion-text-center">
      <ion-chip outline color="tertiary">
        <ion-icon name="camera"></ion-icon>
        <ion-label>{{cptUpload}}/4 photos</ion-label>
      </ion-chip>
    </div>

    <h3 *ngIf="images.length == 0" class="ion-text-center">Veuillez importer vos photos.</h3>
    <ion-list>
      <ion-item *ngFor="let img of images; index as pos" text-wrap>
        <ion-thumbnail slot="start">
          <ion-img [src]="img.path"></ion-img>
        </ion-thumbnail>
        <ion-label>
          {{ img.name }}
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="startUpload(img)">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<div *ngIf="cptUpload <= 3">
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Ajouter des photos
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</div>