<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="goldenrod" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Le top 10</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-list lines="none">
      <ion-icon name="trophy"></ion-icon>
      <ion-list-header>
        Retrouver ici le top 10 des restaurants, ayant reçus les meilleurs notes.
      </ion-list-header>
    </ion-list>
  </ion-card>
  <div *ngIf="dataList.length > 0 else noFavorite" class="list-resto">
    <ion-list [@items] class="list-perso" lines="none" *ngFor="let restaurant of dataList">
      <ion-item detail='false' [routerLink]="[ '/description', restaurant.id_restaurant]"
        class="ion-no-margin ion-no-padding">
        <img class="displayRest" src="{{urlImg}}{{restaurant.img1}}">
        <ion-label>
          <ion-grid align="center">
            <h3>{{restaurant.nom_restau}}</h3>
            <p class="medium"><i>{{restaurant.nom_specialite}}</i></p>
            <ion-grid class="" align="center">
              <ion-row>
                <ion-col size="12">
                  <ion-icon color="goldenrod"
                    *ngFor="let dummy of ' '.repeat(restaurant.note_moyenne).split(''), let x = index"
                    name="star-outline"></ion-icon>
                  <ion-icon *ngFor="let dummy of ' '.repeat(5-(restaurant.note_moyenne)).split(''), let x = index"
                    name="star-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="small">
              <i>{{restaurant.num_rue}}, {{restaurant.nom_rue}}<br>
                {{restaurant.cp}} - {{restaurant.ville}}</i>
            </div>
          </ion-grid>
          <div class="medium ion-text-right">
            <span class="">Prix moyen : </span><b><span class="price">{{ restaurant.prix |  number:'0.0-0'  }}
                €</span></b>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
</ion-footer>