<div [@animat] class="ion-text-center" *ngIf="datas">
  <p class="small-text"><i>{{ datas.num_rue }}, {{ datas.nom_rue }} <br> {{ datas.cp }} {{ datas.ville }}</i></p>
  <div class="medium-text rate">
    <div *ngIf="!displaybtn">
      <ion-icon color="goldenrod" *ngFor="let dummy of ' '.repeat(datas.note_moyenne).split(''), let x = index"
        name="star-outline"></ion-icon>
      <ion-icon *ngFor="let dummy of ' '.repeat(5-(datas.note_moyenne)).split(''), let x = index" name="star-outline">
      </ion-icon>
    </div>
    <div *ngIf="canVote && displaybtn">
      <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" (click)="rate(num)" [ngStyle]="{'color': getColor(num)}">
      </ion-icon>
    </div>
    <ion-button *ngIf="canVote && !displaybtn" (click)="displayVote(1)" color="perso" size="small" tappable>Voter</ion-button>
    <div *ngIf="displaybtn && rating">
      <ion-button (click)="setRate()" color="perso" size="small" tappable>Valider</ion-button>
      <ion-button (click)="displayVote(0)" color="perso" size="small" tappable>Annuler</ion-button>
    </div>
    <div *ngIf="datas.nbvote>0; else novote" class="small-text voffset2">{{ datas.avg_good_vote}}% des clients ont adoré ce restaurant! ({{ datas.nbvote }}
      votes)
    </div>
    <ng-template #novote>
      <div class="small-text voffset2">
        Aucun vote/avis trouver pour ce restaurant. Soyez le premier.
      </div>
    </ng-template>
  </div>
</div>

<ion-row>
  <ion-col [@animat] *ngFor="let i of img; let a = index" size="6">
    <div *ngIf="i">
      <div *ngIf="a==2 && !img[3];  else elseBlock;">
        <img (click)="openImg(urlImg+i)" class="center-t" src="{{ urlImg }}{{ i }}" />
      </div>
      <ng-template #elseBlock>
        <img (click)="openImg(urlImg+i)" class="miniImg" src="{{ urlImg }}{{ i }}" />
      </ng-template>
    </div>
  </ion-col>
</ion-row>