.firstImg {
  object-fit: cover;
  width: 100%;
  height: 320px;
}

.small-text {
  font-size: small;
}

.medium-text {
  font-size: xx-large;
}

.miniImg {
  object-fit: cover;
  width: 100%;
  height: 140px;
}

.center-t {
  object-fit: cover;
  width: 100%;
  height: 140px;
  margin-left: 50%;
}

.myCard {
  position: relative;
}

.myOverlay {
  width: 100%;
  height: 60px;
  position: absolute;
  text-align: center;
  z-index: 99;
  bottom: 0px;
  opacity: 0.7;
  background: #fff;
  color: #000;
}

.hover-top {
  width: 100%;
  position: absolute;
  z-index: 99;
}

.btn:hover {
  //  background-color: transparent;
  color: goldenrod;
}

.sc-ion-card-ios-h {
  border-radius: 0px !important;
}

.btn {
  //display: block;
  display: inline-flex;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid goldenrod;
  background-color: white;
}
a.btn {
  margin-top: 60%;
}

.favoriteIcon {
  width: 24px;
  margin-left: 4.4px;
}

.btnRate {
  //margin-bottom: 24px;
  margin-left: 15px;
  margin-top: -66px;
}

p.small-text {
  margin-bottom: 0px !important;
}

.rate {
  margin-top: 8px;
}

.ion-color-perso {
  // --ion-color-base: #ced8e2;
  //--ion-color-base: #313f4c;
  //--ion-color-base: #555b61;
  --ion-color-base: transparent;
  color: goldenrod;
  font-weight: bold;
  border: 1px solid goldenrod;
  border-radius: 7px;
}