<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login" color="goldenrod" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Mot de passe oublier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="no-radius ion-text-center">
    <ion-item lines="none" color="white" class="ion-text-center">
      <p class="text-11x">
        <ion-text>
          <h3>Récupération de votre mot de passe</h3>
        </ion-text><br />
        <ion-text color="goldenrod">
          Renseignez votre nom d'utilisateur ainsi que votre adresse email afin de récuperer
          votre mot de passe
        </ion-text><br />
        <ion-text>
          <ion-icon name="logo-facebook"></ion-icon>&nbsp;
          <ion-icon name="logo-instagram"></ion-icon>&nbsp;
          <ion-icon name="logo-linkedin"></ion-icon>
        </ion-text>
      </p>
    </ion-item>
  </ion-card>
  <div>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating" stacked>
        <ion-text class="fw500">Nom d'utilisateur</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating" stacked>
        <ion-text class="fw500">Email</ion-text>
      </ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-button class="radius-btn" expand="full" color="goldenrod" (click)="setForm()">Envoyer
    </ion-button>
  </div>
</ion-content>