<ion-header>
  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile ion-padding ion-text-center">
    <img src="assets/img/findfood.png">
  </div>
  <br /><br /><br /><br />
  <ion-card class="bg-white ion-no-margin">
    <ion-card-content>
      <h1 class="ion-margin-bottom">
        <ion-text><strong>FindFood Application Mobile</strong></ion-text>
      </h1>
      
      <p class="ion-margin-bottom">
        blabla
      </p>
      
      <p>
        blabla
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
