<ion-content class="animated fadeIn login auth-page ion-padding">
  <div class="theme-bg"></div>
  <div class="auth-content padding">
    <div class="ion-padding-horizontal ion-text-center animated fadeInDown">
      <div class="logo"></div>
    </div>
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon color="grey" name="person" item-start></ion-icon>
          Nom d'utilisateur
        </ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onLoginForm.get('username').touched && onLoginForm.get('username').hasError('required')">
        <ion-text color="warning">
          Champs requis
        </ion-text>
      </p>
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon color="grey" name="lock" item-start></ion-icon>
          Mot de passe
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08"
        *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="warning">
          Champs requis
        </ion-text>
      </p>
    </form>
    <ion-item lines="none">
      <ion-button (click)="goToPassword()" color="goldenrod" slot="end" fill="clear" tappable>Mot de passe oublié ?</ion-button>
    </ion-item>
    <ion-button (click)="checkLogin()" color="goldenrod" expand="block" shape="round" fill="outline"
      [disabled]="!onLoginForm.valid" tappable>
      Connexion
    </ion-button>
    <br>
    <ion-button (click)="goToRegister()" color="tertiary" expand="block" shape="round" tappable>Inscription</ion-button>
    <br />
    <ion-item lines="none">
      <ion-label color="goldenrod" class="ion-text-center">Ou connectez-vous avec</ion-label>
    </ion-item>
    <div class="flex">
      <ion-button color="blackg" shape="round" tappable>
        <ion-icon color="blue" slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>
      <ion-button color="blackg" shape="round" tappable>
        <ion-icon color="warning" slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
    </div>
  </div>
</ion-content>