<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="goldenrod" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Modification du profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card class="ion-no-margin">
    <ion-card-content class="bg-profile">
      <img src="assets/img/avatar2.png">
      <h1 color="black" class="fw500">{{ nom }} {{ prenom }}</h1>
      <ion-chip (click)="updatePassword()" outline color="tertiary">
        <ion-icon mode="md" name="key"></ion-icon>
        <ion-label>Modifier mon mot de passe</ion-label>
      </ion-chip>
    </ion-card-content>
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-padding">
          <div>
            <form [formGroup]="onUpdateForm" class="list-form">
              <ion-list class="ion-margin-bottom">
                <ion-list-header color="light">
                  <ion-label class="fw700">Mes informations :</ion-label>
                </ion-list-header>

                <ion-item>
                  <ion-label color="dark" position="stacked">Username:</ion-label>
                  <ion-input inputmode="text" placeholder="Username" [value]="username" disabled></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="dark" position="stacked">Email:</ion-label>
                  <ion-input inputmode="email" placeholder="Email" [value]="email" formControlName="email"
                    [(ngModel)]="email"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="dark" position="stacked">Telephone:</ion-label>
                  <ion-input inputmode="mobile" maxlength="10" placeholder="Tel." [value]="telephone"
                    formControlName="telephone" [(ngModel)]="telephone"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label color="dark" position="stacked">Ville:</ion-label>
                  <ion-input inputmode="text" placeholder="Ville" [value]="ville" formControlName="ville"
                    [(ngModel)]="ville"></ion-input>
                </ion-item>
              </ion-list>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br><br>
    <div align="center">
      <ion-button [disabled]="!onUpdateForm.valid" expand="full" size="medium" color="light" (click)="sendData()"
        class="ion-no-margin">Modifier</ion-button>
    </div>
  </ion-card>
</ion-content>