<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="slategrey" class="user-profile">
          <ion-item lines="none" class="ion-margin-bottom">
            <ion-avatar slot="start" class="user-avatar">
              <img src="assets/img/avatar.png">
            </ion-avatar>
            <ion-label>
              <ion-text color="black">
                <h1><strong>{{ username }}</strong></h1>
              </ion-text>
              <ion-text color="black">
                <h3>
                  {{ mail }}
                </h3>
              </ion-text>
            </ion-label>
          </ion-item>
          <ion-menu-toggle class="mto" auto-hide="false">
            <div class="ion-text-right">
              <ion-button outline icon-left size="small" shape="round" color="blackg" (click)="goToEditProfile()">
                <ion-icon name="contact"></ion-icon>
                Modifier
              </ion-button>
              <ion-button icon-left size="small" shape="round" color="blackg" (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
                Déconnexion
              </ion-button>
            </div>
          </ion-menu-toggle>

        </ion-toolbar>
      </ion-header>

      <ion-content class="bg-profile">
        <ion-list>
          <p class="ion-text-center">
            Menu
          </p>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item lines="none" detail='false' [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>