:host {
    ion-content {
        --background: linear-gradient(135deg, #f4f5f8, #f4f5f8);
    }
    ion-menu-toggle  ion-item {
        --background: linear-gradient(135deg, white, #f4f5f8);
        color: goldenrod;
    }

    ion-menu-toggle ion-item .ion-color-light {
        --ion-color-base: #ffd31a !important;
    }

    ion-list {
        &.list-md {
            padding: 0;
        }
    }
}

