<ion-content class="animated fadeIn login auth-page ion-padding">
  <div class="auth-content padding">

    <div class="ion-padding-horizontal ion-text-center animated fadeInDown">
      <h3>Inscription :</h3>
      <h4 class="ion-no-margin">
      </h4>
    </div>

    <form [formGroup]="onRegisterForm" class="list-form">
        <ion-item class="ion-no-padding animated fadeInUp">
            <ion-label position="floating">
              <ion-icon color="grey" name="mail" item-start></ion-icon>
              Email
            </ion-label>
            <ion-input color="secondary" type="email" email="true" formControlName="email"></ion-input>
          </ion-item>
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon color="grey" name="person" item-start></ion-icon>
          Nom d'utilisateur
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon color="grey" name="person" item-start></ion-icon>
          Nom
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="lastname"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon color="grey" name="person" item-start></ion-icon>
          Prenom
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="firstname"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon color="grey" name="calendar" item-start></ion-icon>
          Date d'anniversaire
        </ion-label>
        <ion-datetime formControlName="birthday" done-text="Valider" cancel-text="Annuler" displayFormat="YYYY-MMM-D" monthShortNames="Jan, Fev, Mar, Avr, Mai, Juin, Juil, Aou, Sept, Oct, Nov, Dec" max="2003-01-01" value="1990-01-01"></ion-datetime>
      </ion-item>
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon color="grey" name="lock" item-start></ion-icon>
          Mot de passe
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password1"></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon color="grey" name="lock" item-start></ion-icon>
          Confirmer mot de passe
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password2"></ion-input>
      </ion-item>
    </form>

    <br><br>
    <ion-button (click)="goToRegister()" color="tertiary" expand="block" shape="round" [disabled]="!onRegisterForm.valid" tappable>Inscription</ion-button>
    <ion-button (click)="goToLogin()" color="goldenrod" expand="block" shape="round" fill="outline" tappable>
        J'ai déja un compte
      </ion-button>
  </div>
</ion-content>