<ion-content fullscren>
  <ion-item class="close-fake ion-text-center" lines="none">

      <ion-button (click)="closeModal()" fill="clear" color="light">
          <ion-icon name="close" slot="start">
          </ion-icon>
        </ion-button>
  </ion-item>

  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide>
      <div class="swiper-zoom-container">
      <img [src]="img">
    </div>
    </ion-slide>
  </ion-slides>
</ion-content>
