:host {
  ion-content {
    --background: var(--ion-color-light);
  }
  ion-card {
    &.no-radius {
      border-radius: 0;
    }
  }
  .item-native {
    padding: 0px 0px 0px 0px !important;
  }
}

ion-menu-button {
  color: goldenrod;
}

.sc-ion-searchbar-ios-h {
  margin-top: 12px !important;
}

.swiper-slide img {
  height: 100px;
  width: fit-content !important;
}

.card-content-ios {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 16px;
}

/** **/
.list-ios {
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 10px !important;
}

.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
  padding-left: 10px;
}

.item-native {
  padding: 0px 0px 0px 0px !important;
}

ion-list {
  // box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
  margin-bottom: 10px !important;
  border-radius: 10px;
}

ion-item {
  contain: unset;
}

.title {
  margin-top: 16px;
  margin-bottom: -9px;
  margin-left: 15px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: bolder;
  font-size: 19px;
}

.list-resto {
  padding-top: 20px;
  padding-bottom: 75px;
}

.small {
  font-size: 53%;
}

.medium {
  font-size: 60%;
}

.ion-chip {
  height: 10px;
}

.price {
  color: darkslategray;
}

.text-sm {
  font-size: 14px;
}

.white {
  background-color: #f4f4f4;
}

.proximity {
  height: 130px;
  object-fit: cover;
}

.prox ion-card {
  background-color: #f4f4f4; // black
  box-shadow: none;
}

:focus {
  outline: none;
}
