<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-toolbar color="light">
      <ion-searchbar inputmode="search" animated="true" cancel-button-icon="true" routerDirection="forward"
        placeholder="Rechercher par ville / cp" [(ngModel)]="searchKey" (keydown.enter)="setResearch()"
        (keyup.enter)="setResearch()"></ion-searchbar>
    </ion-toolbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="goldenrod" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="ion-no-margin no-radius">
    <ion-item lines="none" color="white">
      <ion-label>
        <p class="text-11x">
          <ion-text color="goldenrod">{{userLocation}}</ion-text>
        </p>
      </ion-label>
      <ion-button shape="round" fill="outline" size="small" color="goldenrod" (click)="getLocation()">
        Localisation
        <ion-icon name="pin"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <!-- <div class="title">Tops spécialités</div> -->
    <ion-slides [options]="slideConfig" class="category-banner">
      <ion-slide [@items] *ngFor="let speciality of specialities">
        <ion-card class="no-radius" detail='false' [routerLink]="[ '/result-search', speciality.nom_specialite]" tappable>
          <img src="{{urlImg}}{{speciality.image}}">
          <ion-card-header>
            <ion-card-subtitle>{{ speciality.nom_specialite }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>

  <div class="title">A proximité</div><br />
  <div *ngIf="proximityResto; else noProximityResto">
    <ion-row>
      <ion-col [@items] *ngFor="let resto of proximityResto | slice:0:4; let i=index" size="6">
        <div class="prox">
          <ion-card detail='false' (click)="goToDescription(resto.id_restaurant)" class="no-radius ion-no-margin">
            <img class="proximity" src="{{urlImg}}{{ resto.img1 }}">
            <ion-card-header class="ion-no-padding voffset1">
              <ion-card-subtitle color="black">{{ resto.nom_restau }}</ion-card-subtitle>
              <small>{{ resto.nom_specialite }} - <b>{{ resto.prix | number:'0.0-0' }} €</b></small><br />
              <small class="item-text-wrap">{{ resto.num_rue +" "+resto.nom_rue+" à "+resto.ville }}</small>
              <div class="">
                <ion-icon color="goldenrod"
                  *ngFor="let dummy of ' '.repeat(resto.note_moyenne).split(''), let x = index" name="star-outline">
                </ion-icon>
                <ion-icon *ngFor="let dummy of ' '.repeat(5-(resto.note_moyenne)).split(''), let x = index"
                  name="star-outline"></ion-icon>
              </div>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ng-template #noProximityResto>
    <ion-card class="no-radius ion-text-center">
      <ion-item lines="none" color="white" class="ion-text-center">
        <ion-label>
          <p class="text-11x">
            <ion-text color="goldenrod">Aucun restaurant trouvé à proximité.</ion-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-button shape="round" fill="outline" size="small" color="goldenrod" (click)="alertLocation()">
        {{ userLocation }}
        <ion-icon name="pin"></ion-icon>
      </ion-button>
    </ion-card>
  </ng-template>

  <div class="title">Ma liste de favoris</div>
  <div *ngIf="dataList; else noFavorite" class="list-resto">
    <ion-list [@items] lines="none" *ngFor="let restaurant of dataList">
        <ion-item detail='false' (click)="goToDescription(restaurant.id_restaurant)"
          class="ion-no-margin ion-no-padding" tappable>
          <img class="displayRest" src="{{urlImg}}{{restaurant.img1}}">
          <ion-label>
            <ion-grid align="center">
              <h3>{{restaurant.nom_restau}}</h3>
              <p class="medium"><i>{{restaurant.nom_specialite}}</i></p>
              <ion-grid class="" align="center">
                <ion-row>
                  <ion-col size="12">
                    <ion-icon color="goldenrod"
                      *ngFor="let dummy of ' '.repeat(restaurant.note_moyenne).split(''), let x = index"
                      name="star-outline"></ion-icon>
                    <ion-icon *ngFor="let dummy of ' '.repeat(5-(restaurant.note_moyenne)).split(''), let x = index"
                      name="star-outline"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div class="small">
                <i>{{restaurant.num_rue}}, {{restaurant.nom_rue}}<br>
                  {{restaurant.cp}} - {{restaurant.ville}}</i>
              </div>
            </ion-grid>
            <div class="medium ion-text-right">
              <span class="">Prix moyen : </span><b><span class="price">{{ restaurant.prix |  number:'0.0-0'  }}
                  €</span></b>
            </div>
          </ion-label>
        </ion-item>
    </ion-list>
  </div>
  <ng-template #noFavorite>
    <ion-card class="no-radius ion-text-center white">
      <ion-item lines="none" color="" class="ion-text-center white">
        <p class="text-sm">
          <ion-text color="goldenrod">Ajouter des restaurants à vos favoris afin de les retrouver ici dans votre page
            d'accueil.</ion-text>
        </p>
      </ion-item>
    </ion-card>
  </ng-template>

</ion-content>
<ion-footer>
</ion-footer>