<ion-header no-border>
  <ion-toolbar>
    <a slot="start" class="btn" (click)="previous()">
      <ion-icon size="large" color="goldenrod" name="close"></ion-icon>
    </a>
    <a *ngIf="!isAlreadyFav; else remove" slot="end" class="btn" (click)="setFav(datas.id_restaurant)">
      <ion-icon class="favoriteIcon" size="large" color="goldenrod" style="zoom:1;" name="heart-empty"></ion-icon>
    </a>
    <ng-template #remove>
      <a class="btn" slot="end" (click)="removeFav(datas.id_restaurant)">
        <ion-icon class="favoriteIcon" size="large" color="goldenrod" style="zoom:1;" name="trash"></ion-icon>
      </a>
    </ng-template>
  </ion-toolbar>
</ion-header>
<ion-content [@animat] class="contenu" fullscreen *ngIf="datas">
  <ion-card class="myCard ion-no-margin">
    <img class="firstImg" src="{{ urlImg }}{{ datas.img1 }}" />
    <div class="myOverlay">
      <ion-card-title>{{ datas.nom_restau }}</ion-card-title>
      <ion-card-subtitle>{{ datas.nom_specialite }}</ion-card-subtitle>
    </div>
  </ion-card>
  <ion-toolbar>
    <ion-segment [value]="selectedSegment">
      <ion-segment-button [value]="name" *ngFor="let name of ['Détails', 'Commentaires', 'Y accéder']"
        (ionSelect)="segmentChosen(name)">
        <ion-label selected>{{name}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <app-details *ngIf="selectedSegment == 'Détails'"></app-details>
  <app-comments *ngIf="selectedSegment == 'Commentaires'"></app-comments>
  <app-location *ngIf="selectedSegment == 'Y accéder'"></app-location>

</ion-content>