<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="goldenrod" text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Modification du mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="no-radius ion-text-center">
      <ion-item lines="none" color="white" class="ion-text-center">
          <p class="text-11x">
            <ion-text><h3>Mot de passe</h3></ion-text><br/>
            <ion-text color="goldenrod">
              Renseignez votre nom d'utilisateur ainsi que votre adresse email afin de récuperer
              votre mot de passe.
            </ion-text><br/>
          <ion-text>
          </ion-text>
          </p>
      </ion-item>
    </ion-card>
<div>
  <ion-item class="ion-margin-bottom">
      <ion-label position="floating" stacked>
        <ion-text class="fw500">Mot de passe actuel</ion-text>
      </ion-label>
      <ion-input type="password" [(ngModel)]="lastpassword"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
        <ion-label position="floating" stacked>
          <ion-text class="fw500">Nouveau mot de passe</ion-text>
        </ion-label>
        <ion-input type="password"  [(ngModel)]="password1"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating" stacked>
          <ion-text class="fw500">Confirmation mot de passe</ion-text>
        </ion-label>
        <ion-input type="password"  [(ngModel)]="password2"></ion-input>
      </ion-item>

          <ion-button class="radius-btn" expand="full" color="goldenrod" (click)="setForm()">Envoyer
            </ion-button>
</div>
</ion-content>
