// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:root {
  --ion-color-favorite: #c8c7cc;
  --ion-color-goldenrod: goldenrod;
  --ion-color-black: black;
  --ion-color-grey: #666;
  --ion-color-white: #f4f5f8;
  --ion-color-blackg: #3c404a;
  --ion-color-perso: slategrey;
  --ion-color-blue: #3b5998;
}

.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
}

.ion-color-blackg {
  --ion-color-base: var(--ion-color-blackg);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
}

.ion-color-goldenrod {
  --ion-color-base: var(--ion-color-goldenrod);
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
}
.ion-color-grey {
  --ion-color-base: var(--ion-color-grey);
}

.ion-color-perso {
  --ion-color-base: var(--ion-color-perso);
}


ion-item {
    --ion-item-background: transparent;
}

// backgrounds //
.bg-white {
  background-color: #fff;
}
  
  .bg-light {
    background-color: var(--ion-color-light);
  }
  
  .bg-dark {
      background-color: var(--ion-color-dark);
  }
  
  .bg-primary {
      background-color: var(--ion-color-primary);
  }

  .bg-perso {
    background-color: var(--ion-color-perso);
}
  
  .bg-secondary {
      background-color: var(--ion-color-secondary);
  }
  
  .bg-tertiary {
      background-color: var(--ion-color-tertiary);
  }
  
  .bg-profile {
    background-image: linear-gradient(135deg, #f4f5f8, #f4f5f8)
  }
  
  .bg-main {
      background-image: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }
  
  // Helpers //
  .w100 {
    width: 100%;
  }
  
  .bold,
  .fw500 {
      font-weight: 500 !important;
  }
  
  .fw700 {
      font-weight: 700 !important;
  }
  
  .text08 {
    font-size: .8rem;
  }
  
  .text1 {
    font-size: 1rem !important;
  }

  .text12 {
    font-size: 1.2rem;
  }

  .text15 {
    font-size: 1.5rem;
  }
  
  .text20 {
    font-size: 2rem;
  }
  
  .text-white {
      color: #fff;
  }
  
  .text-primary {
      color: var(--ion-color-primary);
  }

  .text-secondary {
    color: var(--ion-color-secondary);
}
  
  .text-dark {
    color: var(--ion-color-dark);
  }
  
  // menu //
  // Menu user profile
  ion-toolbar.user-profile {
  
    .user-avatar {
      width: 68px;
      height: 68px;
    }
    .item-inner {
      border-width: 0;
    }
  }
  
  // Custom toolbar (overriding Shadow DOM)
  ion-toolbar {
    &.ion-color-primary {
     // --ion-color-base: linear-gradient(35deg, #eceff1, #86888f)!important;
    }
  }
  
  // Android card shadow
  ion-card {
    &.sc-ion-card-md-h {
      box-shadow: 0 2px 4px rgba(var(--ion-color-dark-rgb),.24);
    }
  }
  
  // style for auth pages
  .auth-page {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  
    .grid {
      padding: 0;
      .col {
        padding: 0;
      }
    }
  
    .btn-group {
      .button-ios,
      .button-md {
        border-radius: 0;
        &:first-of-type {
          border-radius: 2px 0 0 2px;
        }
        &:last-of-type {
          border-radius: 0 2px 2px 0;
        }
      }
    }
  
    .auth-content {
      //margin: 0 5%;
  
      .logo {
        width: 210px;
        height: 60px;
        margin: 50px auto 8px;
        background: url("/assets/img/findeat.png") no-repeat;
        background-size: 100%;
        margin-bottom: 65px;
      }
  
      .list-form {
        padding: 0;
        margin-bottom: 0;
  
        ion-item {
          background: none;
          padding: 0;
  
          &:first-child {
            border-top: none;
          }
  
          &:after {
            display: none;
          }
  
          ion-label {
            font-size: 1em;
            color: goldenrod;
          }
  
          input {
            color: #3c404a;
          }
          ion-datetime{
            color:#3c404a;
          }
        }
      }
    }
  
  }
  
  // Custom Menu styles (overriding Shadow DOM)
  ion-menu {
    ion-header {
      ion-toolbar {
        &.ion-color-dark {
          --ion-color-base: linear-gradient(135deg, #f4f5f8, #f4f5f8) !important;
        }
      }
    }
  }
  
  .mto {
    margin-top: 22px;
    ion-icon {
      margin-bottom: -2px;
    }
  }

  .searchbar-input {
    background: #FFF !important;
    border-radius: 20px !important;
}

.searchbar-input:focus {
  border : 1px solid goldenrod;
}

.customToastClass{
  text-align: center !important;
  color: goldenrod;
  --background: #4e5358;
  --border-color: goldenrod;
  --border-style : solid;
  --border-width: 1px;
  --border-radius : 10px;
}

.modal-wrapper{
  background: transparent !important;
}

/* ===================================
    Param/edit Margin Top
====================================== */
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }


/* ===================================
    Param/edit Margin Top
====================================== */
.boffset  { margin-bottom: 2px; }
.boffset1 { margin-bottom: 5px; }
.boffset2 { margin-bottom: 10px; }
.boffset3 { margin-bottom: 15px; }
.boffset4 { margin-bottom: 30px; }
.boffset5 { margin-bottom: 40px; }
.boffset6 { margin-bottom: 60px; }
.boffset7 { margin-bottom: 80px; }
.boffset8 { margin-bottom: 100px; }
.boffset9 { margin-bottom: 150px; }


/* ===================================
    Param/edit Padding Left/Right
====================================== */
.pleft1 { padding-left: 10px;}
.pleft2 { padding-left: 20px;}
.pleft3 { padding-left: 30px;}
.pleft4 { padding-left: 40px;}
.pleft5 { padding-left: 50px;}
.pleft6 { padding-left: 60px;}

.rleft1 { padding-right: 10px;}
.rleft2 { padding-right: 20px;}
.rleft3 { padding-right: 30px;}
.rleft4 { padding-right: 40px;}
.rleft5 { padding-right: 50px;}
.rleft6 { padding-right: 60px;}

.displayRest {
  border: 0;
  object-fit: cover;
  height: 145px;
  width: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius : 10px;
}
/**
** Custom ion-loading
**/

ion-loading.customLoadClass {
  .loading-wrapper {
	background: transparent;
  color: goldenrod;
	display: block;
  text-align: center;
  --spinner-color	: goldenrod;
  }
  .loading-content {
	font-size: 19px;
  }
  ion-spinner {
    transform: scale(3);
}
}
/* size of the spinner */
